@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');

@media screen and (max-width: 600px){
    body {
        width: 300px;
        margin: auto;
    }
    #title {
        position: relative;
        top: 50px;
    }
    .titleBio {
        width: 665px;
        position: relative;
        right: 51%;
    }
    h2 {
        font-size: 18px;
    }
    #quickBio {
        text-align: none;
        font-size: 12px;
    }
}

body {
    background-color: #141414;
}

ul {
    list-style: none;
    padding: 0%;
}

.sidebar {
    background-color: #252525;
    width: 200px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
}

#userName {
    background-color: #C5B2A3;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.tabButton {
    background-color: #313131;
    color: #C5B2A3;
    border: none;
    margin-top: 6px;
    transform: scale(1.2);
    padding: 20px;
    width: 90.7%;
    transition: .3s;
}

#logOutButton {
    position: relative;
    top: 500px;
}

.tabButton:hover {
    transition: .3s;
    background-color: #C5B2A3;
    color: #313131;
    cursor: pointer;
}

.titleBio {
    display: flex;
    justify-content: center;
}

#title {
    color: white;
    background-color: #252525;
    border: 2px solid#C5B2A3;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 0px;
    position: absolute;
    z-index: 2;
    left: 48%;
}

#quickBio {
    color: white;
    font-size: 16px;
    background-color: #252525;
    border: 2px solid#C5B2A3;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    transform: scale(0.8);
    position: relative;
    top: 30px;
    left: 5%;
}

.listImg {
    border-radius: 12px;
    margin: 15px;
}

.songBox {
    display: flex;
    margin: 10px;
    justify-content: center;
    position: relative;
    top: 150px;
    left: 29%;
    width: 50%;
}

#albumOne {
    background-color: #252525;
    border-radius: 4px;
    border: 2px solid #C5B2A3;
}

#albumTwo {
    background-color: #252525;
    border-radius: 4px;
    border: 2px solid #C5B2A3;
}
#albumThree {
    background-color: #252525;
    border-radius: 4px;
    border: 2px solid #C5B2A3;
}
#albumFour {
    background-color: #252525;
    border-radius: 4px;
    border: 2px solid #C5B2A3;
}

.songTitle {
    color: white;
    position: relative;
    top: 14px;
    display: flex;
    justify-content: center;
    font-family: 'Phudu', cursive;
}

.buttonList {
    cursor: pointer;
    background-color: #707070;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin: 10px;
    margin-bottom: 16px;
    width: 150px;
    color: white;
    transform: scale(1.1);
    position: relative;
    left: 12%;
    transition: .3s;
}

.buttonList:hover {
    transition: .3s;
    background-color: #C5B2A3;
    color: #707070;
}