@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');

@media (max-width: 600px){
    .sidebar {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .sidebar {
        width: 100%;
    }
}

body {
    background-color: #141414;
}

ul {
    list-style: none;
    padding: 0%;
}

.sidebar {
    background-color: #252525;
    width: 200px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
}

#userName {
    background-color: #C5B2A3;
    color: #f1e6dd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.tabButton {
    background-color: #313131;
    color: #C5B2A3;
    border: none;
    margin-top: 6px;
    transform: scale(1.2);
    padding: 20px;
    width: 90.7%;
    transition: .3s;
}

#logOutButton {
    position: relative;
    top: 500px;
}

.tabButton:hover {
    transition: .3s;
    background-color: #C5B2A3;
    color: #313131;
    cursor: pointer;
}

.titleBio {
    display: flex;
    justify-content: center;
}

#title {
    color: white;
    background-color: #252525;
    border: 2px solid#C5B2A3;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 0px;
    position: absolute;
    z-index: 2;
    left: 46%;
}

#quickBio {
    color: white;
    font-size: 16px;
    background-color: #252525;
    border: 2px solid#C5B2A3;
    border-radius: 16px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    transform: scale(0.8);
    position: relative;
    top: 3vw;
    left: 5%;
}

#infoContainer {
    background-color: #31313156;
    color: white;
    font-size: 16px;
    text-align: center;
    display: flex;
    position: relative;
    top: 4vw;
    left: 26%;
    width: 1000px;
    padding: 20px;
}

.albums {
    display: flex;
    margin: 10px;
    justify-content: center;
    position: relative;
    top: 150px;
    left: 29%;
    width: 50%;
}

#youtubeShowcase {
    width: 560px;
    position: relative;
    left: 38vw;
    top: 6vw;
}